@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'mixFunc';
@import 'variables';

* {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  height: 100vh;
  @include displayFlex(row);
  justify-content: center;
  align-items: center;
  background-color: $charcoal-grey;
}

.main-container {
  @include displayFlex(row);
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1.4rem;
  border-radius: 24px;
}

.main-container .text-part {
  padding-left: 2rem;
  color: $primary-dark-grey;
  width: 45%;

  h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  p {
    margin-top: 0.8rem;
  }

  ul {
    @include displayFlex(column);
    gap: 12px;
    padding: 1.8rem 0rem;

    li {
      @include displayFlex(row);
      gap: 16px;
    }
  }

  .email-container {
    margin-top: 1rem;

    form {
      @include displayFlex(column);

      .email-error {
        @include displayFlex(row);
        justify-content: space-between;
        font-size: 0.8rem;
        font-weight: 700;

        .error {
          display: none;
          color: red;
        }
      }

      input {
        padding: $primary-padding;
        border: 1px solid $grey-color;
        border-radius: 8px;
        margin-top: 0.8rem;
        outline: transparent;
        cursor: pointer;
      }

      button {
          background-color: $primary-dark-grey;
          color: #fff;
          margin-top: 1.4rem;
          padding: $primary-padding;
          border: none;
          border-radius: 8px;
          transition: 0.2s;
          cursor: pointer;
      }
      button:hover {
        background-color: $tomato-color;
      }
      button:active {
        opacity: 0.7;
      }
    }
  }
}

.main-container .illustration {
  flex: 1;

  img {
    width: 75%;
    float: right;
  }
}

.message-container {
  @include displayFlex(column);
  display: none;
  gap: 16px;
  background-color: #fff;
  width: 30%;
  padding: 2.4rem;
  border-radius: 32px;

  img {
    width: 15%;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: $primary-dark-grey;
  }

  p {
    font-size: 0.9rem;
    color: $primary-dark-grey;

    strong {
      font-weight: 700;
    }
  }

  button {
    background-color: $primary-dark-grey;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.7rem 0rem;
    margin-top: 1rem;
    border: none;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
  }
  button:hover {
    background-color: $tomato-color;
  }
}

@media (max-width: 775px) {
  .main-container .text-part {
    h1 {
      font-size: 2rem;
    }

    ul {
      padding: 1rem 0rem;
    }
  }

  .main-container .illustration {
    img {
      width: 90%;
    }
  }
}

@media (max-width: 555px) {
  .main-container .illustration {
    width: 40%;

    img {
      width: 95%;
    }
  }
}

@media (max-width: 480px) {
  body {
    height:auto;
  }

  .main-container {
    @include displayFlex(column);
    align-items: flex-start;
    width: 100%;
    padding: 0;
    border-radius: 0;
  }

  .main-container .text-part {
    order: 2;
    width: 100%;
    padding: 2rem 1rem;

    .email-container {
      form {
        button {
          font-size: 0.9rem;
        } 
        input {
          font-size: 0.9rem;
        }
      }
    }
  }

  .main-container .illustration {
    content: url('../assets/images/illustration-sign-up-mobile.svg');
    width: 100%;

    img {
      display: none;
      order: 1;
    }
  }
}